<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Acemar</title>
    <!-- Required meta tags -->
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts and icons -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.materialdesignicons.com/4.0.96/css/materialdesignicons.min.css"
    />

    <!-- Style CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/3.0.2/css/material-kit.css"
      integrity="sha512-BinDPZLJK6LgAxy8Rzbzh9CY1k2SL2VABFIcfhiXztdz29uBXkWTq+yhfrZBRb3ASyiz/WPsD8QGE6vBBjPz0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/css/material-dashboard.min.css"> -->
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
    />

    <link
      type="text/css"
      rel="stylesheet"
      charset="UTF-8"
      href="https://translate.googleapis.com/translate_static/css/translateelement.css"
    />
    <link rel="stylesheet" href="/estilos/estilos.css" />
  </head>

  <body class="bg-yellow">
    <!-- Navbar Dark -->

    <nav class="navbar navbar-expand-lg bg-white z-index-3 py-3 d-print-none">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://www.acemar.co/wp-content/uploads/2020/08/LOGO-Acemar-Gris-2020.png"
            alt=""
            height="56"
          />
        </a>
        <button
          class="navbar-toggler shadow-none ms-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Navegación de palanca"
        >
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
        <div
          class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0"
          id="navigation"
        >
          <ul class="navbar-nav navbar-nav-hover mx-auto">
            <li class="nav-item mx-2">
              <a
                class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                role="button"
                href="/usuarios"
              >
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit"> Usuarios </font>
                </font>
              </a>
            </li>

            <li class="nav-item mx-2">
              <a
                class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                role="button"
                href="/cotizacion"
              >
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Cotizaciones </font>
                </font>
              </a>
            </li>

            <li class="nav-item mx-2">
              <a
                class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                role="button"
                href="/productos"
              >
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">productos </font>
                </font>
              </a>
            </li>
            <li class="nav-item mx-2">
              <a
                class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                role="button"
                href="/fletes"
              >
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Fletes & impuestos </font>
                </font>
              </a>
            </li>

            <li class="nav-item mx-2">
              <a
                class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                role="button"
                href="/informes"
              >
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Informes </font>
                </font>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="dropdown">
                <a
                  href="#"
                  class="btn bg-gradient-dark dropdown-toggle"
                  data-bs-toggle="dropdown"
                  id="navbarDropdownMenuLink2"
                >
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">
                      administración
                    </font>
                  </font>
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink2"
                >
                  <li>
                    <a class="dropdown-item" href="/">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">
                          cerrar sesión
                        </font>
                      </font>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar -->

    <div class="container container-print my-md-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Crear producto</font>
                </font>
              </h4>
            </div>
            <div class="card-body">
              <form method="post" action="/prooo">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="SfrETgy5OViHKa0pe7AyR5lkMxrdaGJJum7o8YDACSFlE6HoNZFuCgpp8wvyB9ps"
                />
                <% if (user) { %>
                    <input type="hidden" name="id" class="id" value="<%= user.id%>">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group mb-3">
                        <label class="form-control-label" for="id_name">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit"
                              >Nombre del producto</font
                            >
                          </font>
                        </label>
                        <input
                          type="text"
                          name="name"
                          class="form-control form-control-alternative name"
                          value="<%= user.nombre%>"
                          maxlength="200"
                          required=""
                          id="id_name"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-3">
                        <label class="form-control-label" for="id_description">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit"
                              >Descripción</font
                            >
                          </font>
                        </label>
                        <input
                          name="description"
                          cols="40"
                          rows="10"
                          class="form-control form-control-alternative"
                          value="<%= user.descripcion%>"
                          id="id_description"
                        ></input>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-3">
                        <label class="form-control-label" for="id_image">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">Imagen</font>
                          </font>
                        </label>
                        <input
                          type="file"
                          name="image"
                          class="form-control form-control-alternative"
                          placeholder="<%= user.imagen%>"
                          accept="image/*"
                          id="id_image"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-3">
                        <label class="form-control-label" for="id_svgCode">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit"
                              >Código SVG</font
                            >
                          </font>
                        </label>
                        <input name="svgcode"
                        maxlength="250000"
                          id="id_svgCode"
                        cols="40"
                        rows="10"
                        class="form-control form-control-alternative svgcode" type="text" value="<%= user.svg%>">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-3">
                        <div class="form-check p-0">
                          <input
                            type="checkbox"
                            name="available"
                            class="form-check-input"
                            placeholder="Disponible"
                            id="id_available"
                            checked=""
                          />
                          <label class="form-control-label" for="id_available">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit"
                                >Disponible</font
                              >
                            </font>
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group mb-3">
                        <label class="form-control-label" for="id_price">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">Precio</font>
                          </font>
                        </label>
                        <input
                          type="number"
                          name="price"
                          class="form-control form-control-alternative"
                          value="<%= user.precio%>"
                          step="0.01"
                          id="id_price"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <%}%>
                <div class="text-end">
                  <button name="guardar" class="btn btn-primary" type="submit">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">Guardar</font>
                    </font>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
      integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/material-kit/3.0.2/js/material-kit.min.js"
      integrity="sha512-9EgoG4Ypp+QejqrxPVXIpj5qjGkAZKuAJSA1O/q9yfBjxYRY6SH/u15L7M+y6U3w4qMxoUQfZxABPH7zEEEgMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/js/material-dashboard.min.js"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- <script src="/static/js/bootstrap.js"></script> -->

    <script>
      $(document).ready(function () {
        $(".form-group").removeClass("bmd-form-group");

        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <div id="goog-gt-tt" class="skiptranslate" dir="ltr">
      <div style="padding: 8px">
        <div>
          <div class="logo">
            <img
              src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png"
              width="20"
              height="20"
              alt="Google Traductor de Google"
            />
          </div>
        </div>
      </div>
      <div class="top" style="padding: 8px; float: left; width: 100%">
        <h1 class="title gray">Texto original</h1>
      </div>
      <div class="middle" style="padding: 8px">
        <div class="original-text"></div>
      </div>
      <div class="bottom" style="padding: 8px">
        <div class="activity-links">
          <span class="activity-link">Sugiere una traducción mejor</span
          ><span class="activity-link"></span>
        </div>
        <div class="started-activity-container">
          <hr
            style="
              color: #ccc;
              background-color: #ccc;
              height: 1px;
              border: none;
            "
          />
          <div class="activity-root"></div>
        </div>
      </div>
      <div class="status-message" style="display: none"></div>
    </div>

    <div class="goog-te-spinner-pos">
      <div class="goog-te-spinner-animation">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="goog-te-spinner"
          width="96px"
          height="96px"
          viewBox="0 0 66 66"
        >
          <circle
            class="goog-te-spinner-path"
            fill="none"
            stroke-width="6"
            stroke-linecap="round"
            cx="33"
            cy="33"
            r="30"
          ></circle>
        </svg>
      </div>
    </div>
  </body>
</html>
